body {
  background: #111;
  color: #fff;
  font-family: sans-serif;
  text-align: center;
  padding-top: 40px;
}

input {
  font-size: 24px;
  width: 120px;
  text-align: center;
}

button {
  font-size: 24px;
  margin-top: 20px;
  padding: 10px 30px;
  cursor: pointer;
}
